@font-face {
  font-family: icons;
  font-weight: normal;
  font-style: normal;
  font-display: block;
  src: url("@assets/fonts/icons.eot");
  src:
    local("icons"),
    url("@assets/fonts/icons.eot#iefix") format("embedded-opentype"),
    url("@assets/fonts/icons.ttf") format("truetype"),
    url("@assets/fonts/icons.woff") format("woff"),
    url("@assets/fonts/icons.svg#icons") format("svg");
}
