*.log
.cache
.DS_Store
.temp
node_modules
dist
.env
.env.*
.eslintcache
.stylelintcache
TODOs.md

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore intellij project files
.idea

# packaged files
packages/**/*.tgz
demos/*.tgz
