auth-type=legacy
always-auth=true
registry=https://registry.npmjs.org/
provenance=true
access=public

enable-pre-post-scripts = true
link-workspace-packages = false
shamefully-hoist = true
shared-workspace-lockfile = true
strict-peer-dependencies = false
