.colors {
  --grid-columns: 4;
  --grid-item-min-width: 200px;
}

.colors > .item {
  --space-px: var(--space-md);
  --space-py: var(--space-xl);

  display: flex;
  flex-direction: column;
  gap: calc(var(--space-xs) * var(--space-unit));
  justify-content: center;

  text-align: center;

  border: 1px solid rgb(var(--border-color, var(--font-color)));

  > .text {
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-bold);
  }
}
