.icons {
  --grid-columns: 4;
  --grid-item-min-width: 200px;
}

.icons > .item {
  --space-px: var(--space-md);
  --space-py: var(--space-xl);

  display: flex;
  flex-direction: column;
  gap: calc(var(--space-xs) * var(--space-unit));
  justify-content: center;

  text-align: center;

  border: 1px solid rgb(var(--border-color, var(--font-color)));

  > .show,
  > .show::before,
  > .text::before,
  > .text::after {
    font-family: var(--icons-font-family);
  }

  > .show {
    font-size: var(--icons-show-font-size, 3em);
  }

  > .name {
    font-weight: var(--font-weight-bold);
  }

  &.from-var {
    > .show::before,
    > .text::before,
    > .text::after {
      content: var(--icon);
    }
  }

  &.from-data {
    > .text::before,
    > .text::after {
      content: attr(data-icon);
    }
  }
}
