.spaces {
  --spaces-bg-color: var(--font-color);
  --spaces-font-color: var(--bg-color);

  display: flex;
  flex-direction: column;
  gap: var(--spaces-gap, calc(var(--spaces-gap-space, var(--space-xs)) * var(--space-unit)));
}

.spaces > .item {
  display: flex;

  > .bg {
    --bg-color: var(--spaces-bg-color);
    --font-color: var(--spaces-font-color);
  }

  > .pxy {
    --space-px: var(--space-normal);
    --space-py: var(--space-xs);
  }

  > div:first-child {
    margin-right: calc(var(--space-value) * var(--space-unit));
  }

  > .info {
    display: flex;

    > *:not(:last-child) {
      margin-right: calc(var(--space-xs) * var(--space-unit));
      padding-right: calc(var(--space-xs) * var(--space-unit));
      border-right: 1px solid currentcolor;
    }

    > .name {
      font-weight: var(--font-weight-bold);
    }
  }
}
