.control {
  --px: 0;
  --py: 0;

  @extend .pxy;
  @extend .font;

  cursor: pointer;

  display: inline-block;

  text-align: center;
  text-decoration: none;

  appearance: none;
  background: rgb(var(--control-bg-color, transparent));
  border: none;
  border-radius: unset;
  outline: none;

  &[aria-disabled="true"],
  &:disabled {
    cursor: not-allowed;
  }
}
