.padding,
.pxy {
  padding: var(--pt, var(--size-normal)) var(--pr, var(--size-normal)) var(--pb, var(--size-normal))
    var(--pl, var(--size-normal));
}

.pt {
  padding-top: var(--pt, var(--size-normal));
}

.pr {
  padding-right: var(--pr, var(--size-normal));
}

.pb {
  padding-bottom: var(--pb, var(--size-normal));
}

.pl {
  padding-left: var(--pl, var(--size-normal));
}

.pxy {
  --pt: var(--py, var(--size-normal));
  --pb: var(--py, var(--size-normal));
  --pl: var(--px, var(--size-normal));
  --pr: var(--px, var(--size-normal));
}

.py {
  --pt: var(--py, var(--size-normal));
  --pb: var(--py, var(--size-normal));

  @extend .pt;
  @extend .pb;
}

.px {
  --pl: var(--px, var(--size-normal));
  --pr: var(--px, var(--size-normal));

  @extend .pl;
  @extend .pr;
}
