.nav-list {
  --nav-list-item-space-px: var(--space-sm);
  --nav-list-item-space-py: var(--space-xs);
  --nav-list-item-border-color: var(--border-color, var(--font-color));

  text-align: left;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  > ul > li + li {
    margin-top: var(--nav-list-root-item-space, var(--size-sm));
  }

  .control.active {
    --font-color: var(--accent-color);
  }
}

.nav-list > ul > li > .control {
  --space-py: var(--nav-list-item-space-py);
  --space-pr: var(--nav-list-item-space-px);
  --font-weight: var(--font-weight-bold);
  --font-size: var(--font-size-md);
}

.nav-list > ul > li > ul > li > .control {
  --space-py: var(--nav-list-item-space-py);
  --space-px: var(--nav-list-item-space-px);

  text-align: left;
  border-left: 1px solid rgba(var(--nav-list-item-border-color) / var(--border-opacity, 0.1));

  &:hover {
    --border-opacity: 1;
  }
}
